<h1>listening articles</h1>

<table>
    <tr>
        <th>title</th>
        <th>content</th>
    </tr>
    
    <% @articles.each do |article| %>
    <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= link_to 'show', article_path(article) %></td>
    </tr>
    <% end %>
</table>

<%= link_to 'New article' , new_article_path %>